<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GameSphere</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>

{{!-- Navigation Bar --}}
  <nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Game Sphere</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/games">Feed</a>
        </li>
        {{#if loginStatus}}
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/dashboard">Dashboard</a>
        </li>
        {{/if}}
        </ul>
        </div>
        <div>
          <ul class="navbar-nav">
            {{#if loginStatus}}
            <li class="nav-item">
              <a id="add-game-button" href="/games/create-game" class="btn btn-primary">Add Game</a>
            <li class="nav-item">
              <a class="nav-link text-weight-bold">Hi, {{loggedInUser}}!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item">
              <a id="logout" class="nav-link" href="#">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/user/login">Login</a>
            </li>
            
            {{/if}}
          </ul>
        </div>
      </ul>
    </div>
  </nav>

  <div id="error-toast"
    class="toast align-items-center text-bg-danger border-0 mt-1 w-50 top-0 start-50 translate-middle-x position-absolute"
    role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div id="toast-body" class="toast-body">
        Hello, world! This is a toast message.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
        aria-label="Close"></button>
    </div>
  </div>

  {{{body}}}
      <script src="/js/bundle.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>

</html>