<div class="container d-flex flex-column align-items-center">
  {{#each games as |game|}}
  <div class="card mb-3 ml-3 mr-3 p-3 w-75">
    <image class="card-img-top" src="{{game.game_image}}" alt="Card image cap">
    <h2 class="card-subtitle mb-2 text-muted fw-light border-bottom border-secondary ">
      {{game.title}}
    </h2>
    <p id="" class="card-text">{{game.description}}</p>
  </div>
  {{/ each }}
</div>