<nav class="navbar navbar-expand-lg navbar-light bg-warning">
  <div>
    <img src="./images/burp-frog.png" class="rounded-circle p-3 h-100 d-inline-block" alt="..."
      style="width: 7rem" />
  </div>
  <a class="navbar-brand" href="#">Burp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="card mt-3 p-5">
    <img src="./images/burp-frog.png" class="card-img-top img-fluid" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Enim quas exercitationem consequatur at architecto voluptatem, laborum qui officiis autem repudiandae ducimus numquam laudantium hic magnam ipsa? Voluptas corporis fugiat nam.
      </p>
    </div>

    <div class="form-floating mb-3">

    </div>
  </div>

  <div class="card mt-2 p-5">
    <div class="card-body">
      <p class="card-text">
      <textarea class="form-control" placeholder="Have something rude to say?" id="floatingTextarea2Disabled" style="height: 100px"></textarea>
      <button type="button" class="btn btn-warning btn-block mt-1">Burp!</button>
      </p>
    </div>
  </div>

  <div class="card mt-2 p-5">
      <div class="card-body">
        <h5 class="card-title">Comment title</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
        </p>
      </div>
  </div>

  <div class="card mt-2 p-5">
    <div class="card-body">
      <h5 class="card-title">Comment title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      </p>
    </div>
  </div>

  <div class="card mt-2 p-5">
    <div class="card-body">
      <h5 class="card-title">Comment title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.
      </p>
    </div>
  </div>
</div>