
  <div class="container my-5">
    <h1>Add a Game</h1>
    <form>
      <div class="mb-3">
        <label for="post-title" class="form-label">Game Title</label>
        <input id= "new-game-title" type="text" class="form-control" id="post-title" placeholder="Enter a title">
      </div>

        <div class="mb-3">
        <input type= "file" name="file" id class="form-control" id="files" multiple>
      </div>

      <div class="mb-3">
        <label for="post-content" class="form-label">Content</label>
        <textarea class="form-control" id="post-content" rows="6" placeholder="Enter your content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>



