<div class="h-100 w-100 container d-flex flex-column justify-content-center align-items-center">

  <div class="card p-5 w-50" style="border-radius: 1rem;">
    <div>
      <img src="/images/logo.png" class="rounded mx-auto d-block" alt="...">
    </div>
    <h3>Login</h3>
    <form id="login-form">
      <div class="form-outline mb-4">
        <input type="username" id="username-login" class="form-control" required />
        <label class="form-label" for="username-login">Username</label>
      </div>
      <div class="form-outline mb-4">
        <input type="password" id="password-login" class="form-control" required />
        <label class="form-label" for="password-login">Password</label>
      </div>

      <button id="login-button" type="submit" class="btn btn-warning btn-block mb-4">Sign in</button>

      <div class="text-center">
          <p>Not a member? <a href="/user/create-account">Register</a></p>
    </form>
  </div>
</div>