<div class="h-100 w-100 container d-flex flex-column justify-content-center align-items-center">

  <div class="card p-5" style="border-radius: 1rem;">
    <div>
      <img src="./images/burp-frog.png" class="rounded mx-auto d-block" alt="...">
    </div>
    <h3>Login</h3>
    <form>
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
      <div class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>

      <button type="button" class="btn btn-warning btn-block mb-4">Sign in</button>

      <div class="text-center">
          <p>Not a member? <a href="#!">Register</a></p>
    </form>
  </div>
</div>