<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="Burp" content="Burp"/>
    <link rel="stylesheet" href="style.css">  
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>Burping</title>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Burping</a>
        </div>
      </nav>
<div class="container">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">UserName</h5>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph</p>
          <small>3 days ago</small>        
        </p>
        <div>
          <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
            Love it!</button>         
          <button type="button" class="btn btn-outline-light">Comments</button>
          <button type="button" class="btn btn-outline-light">Share</button>
        </div>
        </a>
        <br>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">UserName</h5>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph</p>
          <small>3 days ago</small>        
        </p>
        <div>
          <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
            Love it!</button>         
          <button type="button" class="btn btn-outline-light">Comments</button>
          <button type="button" class="btn btn-outline-light">Share</button>
        </div>
        </a>
        <br>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">UserName</h5>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph</p>
          <small>3 days ago</small>        
        </p>
        <div>
          <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
            Love it!</button>         
          <button type="button" class="btn btn-outline-light">Comments</button>
          <button type="button" class="btn btn-outline-light">Share</button>
        </div>
        </a>
        <br>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">UserName</h5>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph</p>
          <small>3 days ago</small>        
        </p>
        <div>
          <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
            Love it!</button>         
          <button type="button" class="btn btn-outline-light">Comments</button>
          <button type="button" class="btn btn-outline-light">Share</button>
        </div>
        </a>
        <br>
        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">UserName</h5>
          </div>
          <p class="mb-1">Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph. Some placeholder content in a paragraph</p>
          <small>3 days ago</small>        
        </p>
        <div>
          <button type="button" class="btn btn-danger" data-toggle="button" aria-pressed="false" autocomplete="off">
            Love it!</button>         
          <button type="button" class="btn btn-outline-light">Comments</button>
          <button type="button" class="btn btn-outline-light">Share</button>
        </div>
        </a>
        <br>
      </div>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </body>
    </html>
   
