<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Homepage</title> -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Game</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Feed</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Likes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Account</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- User Profile -->
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <img src="https://via.placeholder.com/150" class="img-thumbnail" alt="Profile Picture">
        <h4 class="mt-2">Username</h4>
        <p>Location: City, State</p>
        <p>Bio: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus, quam eu rhoncus sollicitudin, ex tellus consectetur justo, ut finibus enim ipsum non turpis.</p>
      </div>

      
    
    <!-- Current games section -->
    <div class="container">
    <section class="py-4">
      <h2>My Games</h2>
      <div class="row">
        <!-- Game 1 -->
        <div class="col-2">
          <div class="card mb-4">
            <img class="card-img-top" src="game1.jpg" alt="Game 1">
            <div class="card-body">
              <h5 class="card-title">Game 1</h5>
            </div>
          </div>
        </div>
        <!-- Game 2 -->
        <div class="col-2">
          <div class="card mb-4">
            <img class="card-img-top" src="game2.jpg" alt="Game 2">
            <div class="card-body">
              <h5 class="card-title">Game 2</h5>
            </div>
          </div>
        </div>
        <!-- Game 3 -->
        <div class="col-2">
          <div class="card mb-4">
            <img class="card-img-top" src="game3.jpg" alt="Game 3">
            <div class="card-body">
              <h5 class="card-title">Game 3</h5>
            </div>
          </div>
        </div>

        <div class="col-2">
            <div class="card mb-4">
              <img class="card-img-top" src="game1.jpg" alt="Game 1">
              <div class="card-body">
                <h5 class="card-title">Game 4</h5>
              </div>
            </div>
          </div>
          <div class="col-2">
            <div class="card mb-4">
              <img class="card-img-top" src="game1.jpg" alt="Game 1">
              <div class="card-body">
                <h5 class="card-title">Game 5</h5>
              </div>
            </div>
          </div>
          
          <div class="col-2">
            <div class="card mb-4">
              <img class="card-img-top" src="game1.jpg" alt="Game 1">
              <div class="card-body">
                <h5 class="card-title">Game 6</h5>
              </div>
            </div>

            
          </div>
      </div>
    </section>
    
    <!-- Blog posts section -->
    <section class="py-4">
      <h2>Posts</h2>
      <div class="row">
        <!-- Blog post 1 -->
        <div class="col-md-12">
          <div class="card mb-4">
            <img class="card-img-top" src="blog1.jpg" alt="Blog Post 1">
            <div class="card-body">
              <h5 class="card-title">Blog Post 1</h5>
            </div>
          </div>
        </div>
        <!-- Blog post 2 -->
        <div class="col-md-12">
          <div class="card mb-4">
            <img class="card-img-top" src="blog2.jpg" alt="Blog Post 2">
            <div class="card-body">
              <h5 class="card-title">Blog Post 2</h5>
            </div>
          </div>
        </div>
        <!-- Blog post 3 -->
        <div class="col-md-12">
          <div class="card mb-4">
            <img class="card-img-top" src="blog3.jpg" alt="Blog Post 3">
            <div class="card-body">
              <h5 class="card-title">Blog Post 3</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
  </div>
</body>
</html>
